@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:ital,wght@1,600&display=swap');

body,
html {
    --main-radius: 2rem;

    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    font-family: Montserrat, Arial, sans-serif;
}

body {
    margin: 0 var(--main-radius);
}

h1 a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;

    display: flex;
    flex-direction: row;
    transition: all 0.2s ease;
}

main > * {
    /*border-radius: var(--main-radius);*/
}

.displayNone {
    display: none;
}
#play-area {
    flex: 2;
    position: relative;
}

canvas {
    background: black;
    width: 100%;
    aspect-ratio: 16/9;
}

.over-previous {
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*pointer-events: none;*/
}

#three-container {
    position: relative;
}

#overlay-labelRenderer {
    z-index: 5;
}

footer {
    line-height: calc(2 * var(--main-radius));
}

#progress-container {
    text-align: center;
    color: white;
    background-color: #000;
    border: none;
    position: absolute;

    width: 100%;
}


progress {
    width: 100%;
    max-width: 20rem;
    height: 1em;
    border: none;
    background-color: #fff;
    color: #eee;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-value {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #eee;
}

.tooltip {
    background: black;
    color: white;

    padding: 0.5rem 1rem;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    /*transition: all 0.05s ease;*/
    transition-property: opacity, transform;
}

main.has-open-comment-section .tooltip {
    font-size: 0.7em;
    padding: 0.35rem 0.7rem;
}

.tooltip::after {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-color: black;
    top: 90%;
    left: 50%;
    transform: rotateZ(45deg) translateX(-50%);
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.show {
    opacity: 1;
    transform: translateY(0px);
}